body, html {
    margin: 0;
    font-size: small;
}
body {
    height: 100%;
    display: block;
    background: #fff;
    color: #222;
}
body, a, p {
    font-family: arial,sans-serif;
}
div {
    display: block;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}  
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

.top {
    text-align: right;
    margin: 10px;
    margin-right: 16px;
    width: 100%;
    height: 60px;
}

.topbar a {
    color: #222;
    margin-right: 10px;
    margin-top: 10px;
}
.topbar a:hover{
    color: #706464;
}
.topbar img {
    float: left;
    width: 92px;
    height: 33px;
    margin: 15px;
}
.topbar_advc {
    width: 100%;
    margin: 0!important;
    background-color: #f1f1f1;
    height: 60px;
}
.gb {
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}
.main{
    
    text-align: center;
}
.divinform{
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 38px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    width: 482px;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}
.divinform:hover {
    box-shadow: 1px 0.5px 5px 1px #c7d3d9;
}
.divinform input{
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 100%;
    font: 16px arial;
    line-height: 34px;
    height: 34px;
    width: 387px;
}
.navbar a:hover{
    color: #706464;
}

.main{
    
    text-align: center;
}
.divin{
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 38px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    width: 482px;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}
.divin:hover {
    box-shadow: 1px 0.5px 5px 1px #c7d3d9;
}
.divin input{
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 100%;
    font: 16px arial;
    line-height: 34px;
    height: 34px;
    width: 387px;
}
.searchbutton input {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.searchbutton input:hover {
    color: #222;
    border-color: #c2d6d6;
}
.logo-subtext {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 105px;
    position: relative;
    top: -20px;
    white-space: nowrap;
}
#adv {
    width: 100% ;
    margin: 0;
    
}
#ad {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    text-align: left;
}
#adv_main{
    margin: 40px 2% 0 45px;
}

td {
    text-align: left;
    color: #777;
    font-size: 13px;
    font-weight: 700;
    margin-top: 45px;
    margin-right: 310px;
}
#td_label{
    width :15%;
}

td input{
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    width: 500px;
    padding: 1px 8px;
    margin-bottom: 10px;
}

#bluebtn {
    background: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    font-size: smaller;
    line-height: 30px;
    padding: 0 12px;
    height: 30px;
    width: 120px;
    margin-left: 400px;
    margin-top: 10px ;
}
#bluebtn:hover {
    
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    border: 1px solid #2f5bb7;
    border-image: initial;
}